::-webkit-scrollbar{
    width: 10px;
    color: black;
}

::-webkit-scrollbar-track{
    background: #888;
}

::-webkit-scrollbar-thumb{
    background: #444;
}

header svg {
    height: 50px;
    margin-left: 40px;
    fill: #d53867;
}
body {
    height: 100vh;
    background-image: url(./dash-background.svg);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 60px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    font-size: 18px;
}

header li a {
    color: black;
    text-decoration: none;
}