::-webkit-scrollbar{
    width: 10px;
    color: black;
}

::-webkit-scrollbar-track{
    background: #888;
}

::-webkit-scrollbar-thumb{
    background: #444;
}

header svg {
    height: 50px;
    margin-left: 40px;
    fill: #d53867;
}
body {
    height: 100vh;
    background-image: url(./dash-background.svg);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 60px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    font-size: 18px;
}

header li a {
    color: black;
    text-decoration: none;
}

.pane{
    /* background-color: rgba(255, 255, 255, 0.6);  */
    /* background-color: #00243d; */
    background-color: rgba(0,36, 61, 0.9);
    color: #fcfcfc;
    border-radius: 12px;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
}

.menu{
    background-color: white;
    color: black;
    border-radius:  12px;
    margin: 1rem;
    padding: 0.25rem 0.5rem;
}

.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu ul li{
    padding: 0.5rem;
    transition-duration: 0.2s;
}

.menu ul li:first-child{
    border-bottom: 2px solid black;
}

.menu ul li:hover{
    background-color: rgba(130, 130, 130, 0.6);
    cursor: pointer;
}

.manageStock{
    list-style-type: none;
    padding: 0;
}

.manageStock li{
    border-bottom: 2px solid black;
    padding: 0.25rem 0rem;
}

.manageStock li:last-child{
    border-bottom: none;
}

button{
    background-color: #001270;
    color: white;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 10px;
    /* max-width: 250px; */
}

button:hover{
    background-color: #0045a0;
}

.owned-list{
    list-style-type: none;
}

.owned{

}

dialog::backdrop{
    background-color: rgba(50,50,50, 0.35);
}

dialog{
    border-radius: 12px;
}

.button-holder{
    margin-top: 10px;
}

/* ========================================================= */
.h1 {
  display: block;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 1.92em;
  font-weight: 600;
  letter-spacing: -0.055em;
}

.container {
  position: relative;
  margin: calc(75px + 2vh + 2vw) auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 840px;
}
.search-box {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 60px;
  border-radius: 120px;
  margin: 0 auto;
}


.si-rotate {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.search-border {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 60px;
}
.border {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.border {
  stroke-dasharray: 740;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}
.border-searching .border {
  stroke-dasharray: 740;
  stroke-dashoffset: 459;
  transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}
#search {
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 120px;
  border: none;
  background: rgba(255,255,255,0);
  padding: 0 68px 0 68px;
  color: #FFFFFF;
  font-size: 1.32em;
  font-weight: 400;
  letter-spacing: -0.015em;
  outline: none;
}
#search::-webkit-input-placeholder {color: #FFFFFF;}
#search::-moz-placeholder {color: #FFFFFF;}
#search:-ms-input-placeholder {color: #FFFFFF;}
#search:-moz-placeholder {color: #FFFFFF;}
#search::-moz-selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}
#search::selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}

#stock-list{
    list-style: none;
}

.searchedStock{
    font-size: 18px;
    /* background-color: #dfdfdf; */
    background-color: rgba(0,36, 61, 0.9);
    /* color: #232323; */
    color: white;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.search-button{
    align-self: flex-start;
    margin-top: 0.5rem;
}

@keyframes append-animate{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.new-stock{
    animation: append-animate 0.25s ease-out;
    margin-bottom: 0.5rem;
}