{% extends "dash-layout.html" %}

{% block heading %}
    Dashboard
{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <div class="pane">
        <h1>{{ user }}</h1>
        <h2>Balance: ${{ balance }}</h2>
        <h2>Value: ${{value}}</h2>
    </div>

    <div class="pane">
        <h1>Stocks</h1>
        {% if not stocks %}
            <h2>None Purchased</h2>
        {% endif %}

        <ul class="owned-list">
            {% for stock in stocks %}
                <li class="owned">
                    <h3>{{stock[0]}}</h3>
                    <h4 style="margin-left: 2rem;">Shares: {{stock[1] }}</h4>
                    <h4 style="margin-left: 2rem;">Total Value: ${{stock[2]}}</h4>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}