{% extends "layout.html" %}

{% block heading %}
    Home Page
{% endblock %}

{% block body %}
<div class="mainGraphic">
    <h1 class="title">Paper Trading</h1>
    <h2>Practice trading with <b>NO RISK</b> and with <b>REALTIME DATA</b> for free.</h2>
    <img class="graph" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5LQ6vzfvg91PccNNSb-HLVJ7MShrhHt6jGg&usqp=CAU">
    <h3><a href="/register">Register</a> to get started today or <a href="/login">login</a> in to continue trading.</h3>
</div>
{% endblock %}