{% extends 'dash-layout.html' %}

{% block heading %}
    Manage
{% endblock %}

{% block body %}
    <h1>Manage</h1>
    <form action="{{ url_for('search', user= user)}}" method="get">
        <button>Buy Stocks</button>
    </form>
    {% if stocks %}
        <div class="pane">
            <ul class="manageStock">
            {% for stock in stocks %}
                <li><h2>{{stock}}</h2><button data-stock="{{stock}}">Buy</button><button data-stock="{{stock}}">Sell</button></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}