{% extends 'dash-layout.html' %}

{% block heading %}
    Search
{% endblock %}

{% block body %}
    <h1 class="h1">Search for Stocks</h1>
    <div class="container">
        <div class="search-box">
          <form action="{{ url_for('search', user= user) }}" method="post" class="search-form">
            <input type="text" placeholder="Search for Stocks" name="search" id="search" autocomplete="off">
          </form>
          <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
           xml:space="preserve">
              <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
              <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
            </svg>
        </div>
      </div>


      <ul>
          {% for stock in stocks %}
            <li>
              {{ stock }}
            </li>
          {% endfor %}
      </ul>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='searchJQ.js') }}"></script>
{% endblock %}