{% extends 'dash-layout.html' %}

{% block heading %}
    {{symbol.upper()}}
{% endblock %}

{% block body %}

    <div class="pane">
        <h1 id="header" data-user="{{user}}" data-stock="{{symbol}}">{{symbol.upper()}}</h1>
        <h2>
            Current Price: {{recent}} 
            <br>
            Current Shares: {{shares}}
        </h2>
        <button data-stock="{{symbol}}">Buy</button>

        <!-- add conditional here -->
        {% if shares %}
            <button>Sell</button>
        {% endif %}
        <canvas id="myChart" style="width: 100%; max-width: 900px;"></canvas>
    </div>

    <dialog id="buy">
        <h2>Buy</h2>
        <h2 id="buy-text"></h2>
        <!-- add max value to input -->
        <input type="number" min="1" id="buy-amount" placeholder="Enter dollar amount"/>
        <div class="button-holder">
            <button class="buy-button">Buy</button>
            <button class="cancel-button">Cancel</button>
        </div>
    </dialog>

    <dialog id="sell">
        <h2>Sell</h2>
        <h2 id="sell-text"></h2>
        <!-- add max value to input -->
        <input type="number" min="0.1" id="sell-amount" placeholder="Enter shares amount"/>
        <div class="button-holder">
            <button class="sell-button">Sell</button>
            <button class="cancel-button">Cancel</button>
        </div>
    </dialog>

    <dialog id="resultWindow">
        <h2>Result</h2>
    </dialog>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{{ url_for('static', filename='stock.js')}}"></script>
{% endblock %}